@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

.container {
  max-width: 100%;
  margin: auto;
}
/* nav bar */
.navbar .nav-right a {
  color: black;
  transition: 0.3s;
}
.navbar .nav-right .nav-link:hover{
background-color: #b5a473;
}

.navbar .nav-right a:hover {
  transform: scale(1.1);
}

/* header */
.navbar .nav-left a {
  text-decoration: none;
  color: black;
}

header {
  position: fixed;
  width: 100%;
  z-index: 9999; /* أعلى قيمة */
}

.navbar {
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9998;
}

.navbar .nav-left {
  display: flex;
  align-items: center;
  padding-left: 150px;
  background-color: white;
}

.navbar .nav-left img {
  height: 100px;
  width: 100px;
}

.navbar .nav-left h2 {
  margin: 0;
  padding-left: 10px;
  background-color: white;
}

.navbar .nav-left h2 .text1 {
  padding-left: 10px;
  color: wheat;
  background-color: white;
  transition: 0.4s;
}

.navbar .nav-left h2 .text1:hover {
  color: black;
}

.navbar .nav-left h2 .text1:hover + .text2 {
  color: wheat;
  transition: 0.4s;
}

.navbar .nav-left h2 .text2 {
  padding-left: 10px;
  color: black;
  background-color: white;
}

.navbar .nav-right {
  background-color: white;
  margin-right: 100px;
}

.navbar .nav-right button {
  color: black;
  font-size: 20px;
}

.navbar .nav-right li {
  text-decoration: none;
  background-color: white;
}

/* HOME */

.home {
  background-image: url(/assests/home-bg.png);
  background-color: #bba988;
}

.home .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  gap: 3rem;
  align-items: center;
}

.home a {
  text-decoration: none;
}

.home .container .content .home-text h1,
h3 {
  font-size: 70px;
}
/* button */

.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #572d16, #a66850);
  color: ghostwhite;
  overflow: hidden;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #d7c39d;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

/* space */
.space {
  padding: 6rem 0;
  background-color: beige;
}
/* About */
.about {
  background-color: wheat;
}

.about .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  gap: 3rem;
  align-items: center;
}

.about a {
  text-decoration: none;
}
.about .container .content .text-about .t1 {
  color: #c2af8d;
}
.about .container .content .text-about h1,
h3 {
  font-size: 40px;
}

.about .container .content .about-text h1,
h3 {
  font-size: 70px;
}

/* Menu */
/* menu-top */

.space-1 {
  padding-top: 4rem;
  background-color: beige;
  color: brown;
  text-align: center;
}
.space-1 h1 {
  text-align: center;
  color: black;
}

/* Menu-start */
.menu .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  gap: 5rem;
  align-items: center;
}

.menu .row .col .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  margin: 30px 0;
  border: 1px solid #ddd;
}
.menu .row .col .item img {
  width: 80px;
}
.menu .row .col .item span {
  color: #a66850;
}
.menu .row .col .item .text {
  margin-left: 20px;
}
.menu .row .col .item .text h3 {
  font-size: 25px;
  margin-bottom: 15px;
}

.menu .row .col .item .text p {
  font-size: 14px;
  line-height: 1.6;
  margin-left: 15px;
  display: block;
}

.menu .row .col .item .price {
  border-left: 1px solid #ddd;
  text-align: right;
  padding-right: 15px;
}

.menu .row .col .item .price strong {
  font-size: 20px;
  margin-left: 60px;
}
/* button */
/* From Uiverse.io by alexruix */
.item {
  background: #f5f5f5;
  border-radius: 20px;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  position: relative;
  z-index: 1;
}

.card-button {
  background: linear-gradient(to right, #572d16, #a66850);
  color: #fff;
  border: none;
  border-radius: 1rem;
  width: 60%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  transform: translate(-50%, 125%);
  position: absolute;
  z-index: 2;
}

/*Hover*/
.item:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.4);
}

.item:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* Customer */
#Customer .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 6rem;
  margin-bottom: 6rem;
  gap: 2.5rem;
}
#Customer .row .items {
  background-color: #f5f5f5;
  text-align: center;
  padding: 25px 25px 0px;
}

#Customer .row .items img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: -20%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#Customer .row .items h3 {
  margin: 20px 0px 10px;
}
#Customer .row .items p {
  text-align: justify;
  line-height: 1.6;
}

/* contact */
.heading {
  padding-top: 4rem;
  text-align: center;
}

.heading p {
  color: brown;
}

#contact map {
  padding: 0px 0px;
}
#contact .map iframe {
  height: 100%;
  width: 100%;
}
#contact {
  background-color: #dadada;
  padding-bottom: 4rem;
}
#contact .row {
  display: grid;
  grid-template-columns: 2fr 1.4fr;
  margin-top: 6rem;
}

#contact .row .contact-text {
  background-color: #fff;

  padding: 2.5rem 2.5rem;
}

#contact .row .contact-text h3 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
}

#contact .row .contact-text form input,
#contact .row .contact-text form textarea {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #ccc;
}

/* button */
#contact .row .contact-text form .btn-submit {
  padding: 0.8em 1.8em;
  width: 100%;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: darkred;
  background-color: #d9bf9c;
}

#contact .row .contact-text form .btn-submit::before {
  content: "";
  width: 0;
  height: 800%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: linear-gradient(to right, #572d16, #a66850);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

#contact .row .contact-text form .btn-submit:hover::before {
  width: 105%;
}

#contact .row .contact-text form .btn-submit:hover {
  color: #f5deb3;
}

/* footer */
#footer .footer-top {
  background-image: url(/assests/footer-bg.png);
  color: white;
}

.footer-top {
  padding-top: 6rem;
}

#footer .footer-top .row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
#footer .footer-top .row i {
  padding-right: 5px;
}
/* #footer .footer-top .row li{
 padding-right:5px ;
} */

#footer .footer-top .row li {
  padding: 8px 5px;
  transition: transform 0.3s ease;
  color: #f5f5f5;
}

#footer .footer-top .row li a {
  color: #f5f5f5;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

#footer .footer-top .row li:hover {
  transform: translateX(10px);
}

#footer .footer-top .row li a:hover {
  color: #c2af8d;
}

#footer .footer-top .row li i {
  color: #c2af8d;
}

#footer .footer-top .col a {
  text-decoration: none;
  align-items: center;
  line-height: 1.6;
}

#footer .footer-top .col ul {
  list-style: none;
  padding: 0px 0px;
}

#footer .copyright {
  background-color: #232323;
  color: white;
  padding: 15px 0px;
  text-align: center;
  font-size: 20px;
}
